{% extends 'base.html.twig' %}

{% block title %}Experimentation index
{% endblock %}

{% block body %}
	<div class="container-fluid fadeInUp">
		<h1>Experimentation index</h1>

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Code Expe</th>
					<th>Debut Expe</th>
					<th>Fin Expe</th>
					<th>Num Saisine</th>
					<th>Nom Expe</th>
					<th>Info Expe</th>
					<th>Lien Proto Sidex</th>
					<th>Demande Ouv</th>
					<th>Information Ouv</th>

					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for experimentation in experimentations %}
					<tr>
						<td>{{ experimentation.codeExpe }}</td>
						<td>{{ experimentation.dateDebutExpe ? experimentation.dateDebutExpe|date('Y-m-d') : '' }}</td>
						<td>{{ experimentation.dateFinExpe ? experimentation.dateFinExpe|date('Y-m-d') : '' }}</td>
						<td>{{ experimentation.numSaisine }}</td>
						<td>{{ experimentation.nomExpe }}</td>
						<td>{{ experimentation.infoExpe }}</td>
						<td>{{ experimentation.lienProtoSidex }}</td>
						<td>{{ experimentation.dateDemandeOuv ? experimentation.dateDemandeOuv|date('Y-m-d') : '' }}</td>
						<td>{{ experimentation.infoDemandeOuv }}</td>
						<td>
							<a href="{{ path('lot_index', {'idExpe': experimentation.idExpe}) }}" class="btn btn-primary">Voir les lots</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation">
			{{ knp_pagination_render(experimentations) }}
		</div>

		<a href="{{ path('experimentation_new') }}" class="button">Créer une experimentation</a>

	{% endblock %}
