{% extends 'base.html.twig' %}

{% block title %}Experimentations
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">Experimentations /</li>
			</ol>
		</nav>

		<h1>Experimentations</h1>

		<table class="table table-bordered table-hover" id="tableExpe">
			<thead>
				<tr>
					<th>Code</th>
					<th>Nom</th>
					<th class="notexport">Debut</th>
					<th class="hidden">Debut</th>
					<th class="notexport">Fin</th>
					<th class="hidden">Fin</th>
					<th>Num Saisine</th>
					<th>Type</th>
					<th>Informations</th>
					<th>Unite</th>
					<th>Resp Techn</th>
					<th>Nombre de bassins</th>
					<th>Poids Moyen</th>
					<th class="notexport">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for experimentation in experimentations %}
					<tr {% if experimentation.dateFinExpe is not null %} ferme="1" style="background-color: #C8C8C8;" {% else %} ferme="0" {% endif %}>
						<td>{{ experimentation.codeExpe }}</td>
						<td>{{ experimentation.nomExpe }}</td>
						<td>
							<span style="display:none;">{{ experimentation.dateDebutExpe ? experimentation.dateDebutExpe|date('Y-m-d') : ''}}</span>
							{{ experimentation.dateDebutExpe ? experimentation.dateDebutExpe|date('d-m-Y') : '' }}</td>
						<td class="hidden">{{ experimentation.dateDebutExpe ? experimentation.dateDebutExpe|date('d-m-Y') : ''}}</td>
						<td>
							<span style="display:none;">{{ experimentation.dateFinExpe ? experimentation.dateFinExpe|date('Y-m-d') : ''}}</span>
							{{ experimentation.dateFinExpe ? experimentation.dateFinExpe|date('d-m-Y') : '' }}</td>
						<td class="hidden">{{ experimentation.dateFinExpe ? experimentation.dateFinExpe|date('d-m-Y') : ''}}</td>
						<td>
							{% if experimentation.numSaisine != 0 %}
								{{ experimentation.numSaisine }}
							{% endif %}
						</td>
						<td>{{ experimentation.libTypeExperimentation }}</td>
						<td class="col-sm-2">{{ experimentation.infoExpe }}</td>
						<td>{{ experimentation.nomUnite }}</td>
						<td>{{ experimentation.prenomUti }} {{ experimentation.nomUti}}</td>
						<td>
							{% for key, value in lotsParExpe %}
								{% if (key == experimentation.idExpe) %}
									{{ value }}
								{% endif %}
							{% endfor %}
						</td>
						<td>{{ experimentation.poidsMoyen|round(2, 'common') }}</td>
						<td>
							<a href="{{ path('lot_index', {'idExpe': experimentation.idExpe}) }}" class="btn btn-primary">Voir les lots</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		

		{% if experimentations|length>1 %}
			<button id="display">Afficher les experimentations fermées</button>
			<button id="hide">Cacher</button>
		{% endif %}

	{% endblock %}
