{% extends 'base.html.twig' %}

{% block title %}Experimentation index
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Experimentation index</h1>

		<table class="table striped bordered">
			<thead>
				<tr>
					<th>DateDebutExpe</th>
					<th>DateFinExpe</th>
					<th>NumSaisine</th>
					<th>NomExpe</th>
					<th>InfoExpe</th>
					<th>LienProtoSidex</th>
					<th>DateDemandeOuv</th>
					<th>InfoDemandeOuv</th>
					<th>CodeExpe</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% set newArray = [] %}
				{% for experimentation in experimentations %}
					{% if experimentation.idExpe not in newArray %}
						<tr>
							<td>{{ experimentation.dateDebutExpe ? experimentation.dateDebutExpe|date('Y-m-d') : '' }}</td>
							<td>{{ experimentation.dateFinExpe ? experimentation.dateFinExpe|date('Y-m-d') : '' }}</td>
							<td>{{ experimentation.numSaisine }}</td>
							<td>{{ experimentation.nomExpe }}</td>
							<td>{{ experimentation.infoExpe }}</td>
							<td>{{ experimentation.lienProtoSidex }}</td>
							<td>{{ experimentation.dateDemandeOuv ? experimentation.dateDemandeOuv|date('Y-m-d') : '' }}</td>
							<td>{{ experimentation.infoDemandeOuv }}</td>
							<td>{{ experimentation.codeExpe }}</td>
							<td>
								<a href="{{ path('lot_index', {'idExpe': experimentation.idExpe}) }}" class="button">Voir les lots</a>
							</td>
						</tr>
						{% set newArray = newArray|merge([experimentation.idExpe]) %}
						{# distinct results by idExpe #}
					{% endif %}
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<a href="{{ path('experimentation_new') }}" class="button">Créer une experimentation</a>

{% endblock %}
