{% extends 'base.html.twig' %}

{% block title %}Experimentations
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
    			<li class="breadcrumb-item active" aria-current="page">Experimentations /</a></li>
  			</ol>
		</nav>

		<h1>Experimentation index</h1>

		<table class="table table-bordered table-hover" id="maTable">
			<thead>
				<tr>
					<th>Code Expe</th>
					<th>Nom Expe</th>
					<th>Debut Expe</th>
					<th>Fin Expe</th>
					<th>Num Saisine</th>
					<th>Type Expe</th>
					<th>Info Expe</th>
					<th>Lien Proto Sidex</th>
					<th>Demande Ouv</th>
					<th>Information Ouv</th>
					<th>Unite</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for experimentation in experimentations %}
					<tr>
						<td>{{ experimentation.codeExpe }}</td>
						<td>{{ experimentation.nomExpe }}</td>
						<td>{{ experimentation.dateDebutExpe ? experimentation.dateDebutExpe|date('d-m-Y') : '' }}</td>
						<td>{{ experimentation.dateFinExpe ? experimentation.dateFinExpe|date('d-m-Y') : '' }}</td>
						<td>{{ experimentation.numSaisine }}</td>
						<td>{{ experimentation.libTypeExperimentation }}</td>
						<td class="col-sm-2">{{ experimentation.infoExpe }}</td>
						<td class="col-sm-1">{{ experimentation.lienProtoSidex }}</td>
						<td>{{ experimentation.dateDemandeOuv ? experimentation.dateDemandeOuv|date('d-m-Y') : '' }}</td>
						<td class="col-sm-1">{{ experimentation.infoDemandeOuv }}</td>
						<td>{{ experimentation.nomUnite }}</td>

						<td>
							<a href="{{ path('lot_index', {'idExpe': experimentation.idExpe}) }}" class="btn btn-primary">Voir les lots</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endblock %}
