{% extends 'base.html.twig' %}

{% block title %}Bassin
{% endblock %}

{% block body %}

	<style>
		#text{
			display:none!important;
		}
	</style>
    
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Bassins</li>
			</ol>
		</nav>

		<h1>
			Bassin {{ bassins[0].nomBassin }}, 
			Type "{{ bassins[0].nomTypeBassin }}",
			Numéro {{ bassins[0].numeroBassin }},
			Zone <a target="_blank" href="{{ path('bassin_zone', {'idLot': idLot, 'idExpe': idExpe, 'idBassin': bassins[0].idBassin}) }}">{{ bassins[0].nomZone }}</a>
		</h1>

		<table class="table table-bordered table-hover" id="tableBassin">
			<thead>
				<tr>
					<th>Volume</th>
					<th>Debut UV</th>
					<th>Fin Uv</th>
					<th>Date Relevé</th>
					<th>Valeur Relevé</th>
					<th>Type de relevé</th>
					<th class="notexport">Debut Alimente</th>
					<th class="hidden">Debut Alimente</th>
					<th class="notexport">Fin Alimente</th>
					<th class="hidden">Fin Alimente</th>
					<th>Source</th>
				</tr>
			</thead>
			<tbody>
				{% for bassin in bassins %}

					<tr>
						<td>{{ bassin.volume }}</td>
						<td>{{ bassin.debutUv ? bassin.debutUv|date('Y-m-d') : '' }}</td>
						<td>{{ bassin.finUv ? bassin.finUv|date('Y-m-d') : '' }}</td>
						<td>{{ bassin.dateRelBassin ? bassin.dateRelBassin|date('Y-m-d') : '' }}</td>
						<td>{{ bassin.valeurRelBassin }}</td>
						<td>{{ bassin.libTypeRelBassin }}</td>
						<td><span style="display:none;">{{ bassin.debutAlimente ? bassin.debutAlimente|date('Y-m-d') : '' }}</span>
							{{ bassin.debutAlimente ? bassin.debutAlimente|date('d-m-Y') : '' }}</td>
						<td class="hidden">{{ bassin.debutAlimente ? bassin.debutAlimente|date('d-m-Y') : '' }}</td>
						<td><span style="display:none;">{{ bassin.finAlimente ? bassin.finAlimente|date('Y-m-d') : '' }}</span>
							{{ bassin.finAlimente ? bassin.finAlimente|date('d-m-Y') : '' }}</td>
						<td class="hidden">{{ bassin.finAlimente ? bassin.finAlimente|date('d-m-Y') : '' }}</td>
						<td><a href="{{ path('alimentation_eau_index', {'idLot': idLot, 'idExpe': idExpe, 'idBassin': bassin.idBassin, 'idAlimEau': bassin.idAlimEau}) }}">{{ bassin.nomAlimEau }}</a>
					</tr>

				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br><br>
		<a href="{{ path('lot_index', {'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>
	</div>
{% endblock %}
