{% extends 'base.html.twig' %}

{% block title %}Bassin
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Bassin</li>
			</ol>
		</nav>

		<h1>Bassin</h1>

		<table class="table table-bordered table-hover" id="tableBassin">
			<thead>
				<tr>
					<th>Type</th>
					<th>debut</th>
					<th>fin</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}

					<tr>
						<td>{{ data.nomTypeBassin }}</td>
						<td>
							<span style="display:none;">{{ data.debutLocaliseLot ? data.debutLocaliseLot|date('Y-m-d') : ''}}</span>
							{{ data.debutLocaliseLot ? data.debutLocaliseLot|date('d-m-Y') : ''}}</td>
						<td class="hidden">{{ data.debutLocaliseLot ? data.debutLocaliseLot|date('d-m-Y') : ''}}</td>
						<td>
							<span style="display:none;">{{ data.finLocaliseLot ? data.finLocaliseLot|date('Y-m-d') : ''}}</span>
							{{ data.finLocaliseLot ? data.finLocaliseLot|date('d-m-Y') : ''}}</td>
						<td class="hidden">{{ data.finLocaliseLot ? data.finLocaliseLot|date('d-m-Y') : ''}}</td>
					</tr>

				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br><br>
		<a href="{{ path('lot_index', {'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>

	</div>
{% endblock %}
