{% extends 'base.html.twig' %}

{% block title %}Lot index
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Lot index</h1>

		<table class="table table-bordered table-hover" id="maTable">
			<thead>
				<tr>
					<th>Nom Lot</th>
					<th>Debut Lot</th>
					<th>Fin Lot</th>
					<th>Date Releve Animal</th>
					<th>Valeur Releve Animal</th>
					<th>Type Releve Animal</th>
					<th>Info Releve Animal</th>
					<th>actions</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% set i = 0 %}
				{% for lot in lots %}

					<tr {% if lot.dateFinLot is not null %} id="hide{{ i }}" style="display:none;" {% set i = i + 1 %} {% endif %}>
						<td>{{ lot.nomLot }}</td>
						<td>{{ lot.dateDebLot ? lot.dateDebLot|date('d-m-Y') : '' }}</td>
						<td>{{ lot.dateFinLot ? lot.dateFinLot|date('d-m-Y') : '' }}</td>
						<td>{{ lot.dateRelAni ? lot.dateRelAni|date('d-m-Y H:i:s') : '' }}</td>
						<td>{{ lot.valeurRelAni }}</td>
						<td>{{ lot.libTypeRelAni }}</td>
						<td>{{ lot.infoTypeRelAni }}</td>
						<td>
							<a href="{{ path('individu_index', {'idLot': lot.idLot, 'idExpe': idExpe}) }}" class="btn btn-primary">Voir les individus</a>
						</td>
					</tr>

				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if lots|length>1 %}
			<div class="checkbox-custom chekbox-primary">
				<input onchange="toggle_by_class({{ i }});" type="checkbox">
				<label>Afficher les lots fermés</label>
			</div>
		{% endif %}

		<br><br>
		<a href="{{ path('experimentation_index') }}" class="btn btn-danger">Retour</a>

	</div>
{% endblock %}
