{% extends 'base.html.twig' %}

{% block title %}Lot index
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Lot index</h1>

		<table class="table striped bordered">
			<thead>
				<tr>
					<th>IdLot</th>
					<th>NomLot</th>
					<th>DateDebLot</th>
					<th>DateFinLot</th>
					<th>DateRelAni</th>
					<th>ValeurRelAni</th>
					<th>LibTypeRelAni</th>
					<th>InfoTypeRelAni</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% set newArray = [] %}
				{% for lot in lots %}
					{% if lot.idLot not in newArray %}
						<tr>
							<td>{{ lot.idLot }}</td>
							<td>{{ lot.nomLot }}</td>
							<td>{{ lot.dateDebLot ? lot.dateDebLot|date('Y-m-d') : '' }}</td>
							<td>{{ lot.dateFinLot ? lot.dateFinLot|date('Y-m-d') : '' }}</td>
							<td>{{ lot.dateRelAni ? lot.dateRelAni|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ lot.valeurRelAni }}</td>
							<td>{{ lot.libTypeRelAni }}</td>
							<td>{{ lot.infoTypeRelAni }}</td>
							<td>
								<a href="{{ path('mouvement_index', {'idLot': lot.idLot, 'idExpe': idExpe}) }}" class="button">Voir les mouvements</a>
								<a href="{{ path('individu_index', {'idLot': lot.idLot, 'idExpe': idExpe}) }}" class="button">Voir les individus</a>
							</td>
						</tr>
						{% set newArray = newArray|merge([lot.idLot]) %}
						{# distinct results by idExpe #}
					{% endif %}
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
