{% extends 'base.html.twig' %}

{% block title %}Lots
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Lots</li>
			</ol>
		</nav>

		<h1>Lots</h1>

		<table class="table table-bordered table-hover" id="tableLot">
			<thead>
				<tr>
					<th>Nom</th>
					<th class="notexport">Début</th>
					<th class="hidden">Début</th>
					<th class="notexport">Fin</th>
					<th class="hidden">Fin</th>
					<th>Bassin</th>

					<!--<th>Paramètre croissance</th><th>Aliment Actuel</th>-->
					<th class="notexport">actions</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 0 %}
				{% for lot in lots %}
					<tr {% if lot.dateFinLot is not null %} id="hide{{ i }}" style="display:none;" {% set i = i + 1 %} {% endif %}>
						<td>{{ lot.nomLot }}</td>
						<td>
							<span style="display:none;">{{ lot.dateDebLot ? lot.dateDebLot|date('Y-m-d') : ''}}</span>
							{{ lot.dateDebLot ? lot.dateDebLot|date('d-m-Y') : '' }}</td>
						<td class="hidden">{{ lot.dateDebLot ? lot.dateDebLot|date('d-m-Y') : ''}}</td>
						<td>
							<span style="display:none;">{{ lot.dateFinLot ? lot.dateFinLot|date('Y-m-d') : ''}}</span>
							{{ lot.dateFinLot ? lot.dateFinLot|date('d-m-Y') : '' }}</td>
						<td class="hidden">{{ lot.dateFinLot ? lot.dateFinLot|date('d-m-Y') : ''}}</td>
						<td>
							<a href="{{ path('bassin_index', {'idLot': lot.idLot, 'idExpe': idExpe, 'idBassin': lot.idBassin}) }}">{{ lot.nomBassin }}</a>
						</td>
						<td class="col-sm-3">
							<a href="{{ path('individu_index', {'idLot': lot.idLot, 'idExpe': idExpe}) }}" style="margin:3px;" class="btn btn-primary">Voir les individus</a>
							<a href="{{ path('mouvement_index', {'idLot': lot.idLot, 'idExpe': idExpe}) }}" style="margin:3px;" class="btn btn-primary">Voir les mouvements</a>
							<a href="{{ path('alimentation_index', {'idLot': lot.idLot, 'idExpe': idExpe}) }}" style="margin:3px;" class="btn btn-primary">Voir l'alimentation</a>
							<a href="{{ path('alimentation_index', {'idLot': lot.idLot, 'idExpe': idExpe}) }}" style="margin:3px;" class="btn btn-primary">Voir les traitements</a>
						</td>
					</tr>

				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if lots|length>1 %}
			<div class="checkbox-custom chekbox-primary">
				<input onchange="toggle_by_class({{ i }});" type="checkbox">
				<label>Afficher les lots fermés</label>
			</div>
		{% endif %}

		<br><br>
		<a href="{{ path('experimentation_index') }}" class="btn btn-danger">Retour</a>
	</div>
{% endblock %}
