{% extends 'base.html.twig' %}

{% block title %}Lot index
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Lot index</h1>

		<table class="table striped bordered">
			<thead>
				<tr>
					<th>IdLot</th>
                	<th>NomLot</th>
                	<th>DateDebLot</th>
                	<th>DateFinLot</th>
                	<th>LibMouv</th>
                	<th>InfoMouv</th>
                	<th>DateRelAni</th>
                	<th>ValeurRelAni</th>
                	<th>LibTypeRelAni</th>
                	<th>InfoTypeRelAni</th>
                	<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% set newArray = [] %}
				{% for lot in lots %}
					{% if lot.idLot not in newArray %}
						<tr>
							<td>{{ lot.idLot }}</td>
                            <td>{{ lot.nomLot }}</td>
                            <td>{{ lot.dateDebLot ? lot.dateDebLot|date('Y-m-d') : '' }}</td>
                            <td>{{ lot.dateFinLot ? lot.dateFinLot|date('Y-m-d') : '' }}</td>
							<td>{{ lot.libMouv }}</td>
                			<td>{{ lot.infoMouv }}</td>
                			<td>{{ lot.dateRelAni ? lot.dateRelAni|date('Y-m-d H:i:s') : '' }}</td>
                			<td>{{ lot.valeurRelAni }}</td>
                			<td>{{ lot.libTypeRelAni }}</td>
                			<td>{{ lot.infoTypeRelAni }}</td>
							<td>
								{# <a href="{{ path('individu_show', {'idIndividuExploitation': Individu.idIndividuExploitation}) }}">Voir l'historique des interventions</a> #}
							</td>
						</tr>
						{% set newArray = newArray|merge([lot.idIndi]) %} {# distinct results by idExpe #}
					{% endif %}
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
