{% extends 'base.html.twig' %}

{% block title %}Sources
{% endblock %}

{% block body %}
    
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
                <li class="breadcrumb-item">
					<a href="{{ path('bassin_index', {'idExpe': idExpe, 'idLot': idLot}) }}">Bassin</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Source</li>
			</ol>
		</nav>

        <h1>
			Source {{ sources[0].nomAlimEau }}, 
			Type {{ sources[0].libTypeAlim }}:
		</h1>

		<table class="table table-bordered table-hover" id="tableLot">
			<thead>
				<tr>
					<th class="notexport">Date</th>
					<th class="hidden">Date</th>
                    <th>Valeur</th>
                    <th>Info</th>
                    <th>Type</th>
				</tr>
			</thead>
			<tbody>
				<script>
					const temperatures = new Array();
					const dates = new Array();
				</script>
				{% for source in sources %}

					<tr>
						<td><span style="display:none;">{{ source.dateReleveAlimentation ? source.dateReleveAlimentation|date('Y-m-d') : '' }}</span>
						{{ source.dateReleveAlimentation ? source.dateReleveAlimentation|date('d-m-Y') : '' }}</td>
						<td class="hidden">{{ source.dateReleveAlimentation ? source.dateReleveAlimentation|date('d-m-Y') : '' }}</td>
                        <td>{{ source.releveAlimentation }}</td>
                        <td>{{ source.infoReleveAlimentation }}</td>
                        <td>{{ source.libTypeReleveAlimentation }}</td>
						{% if source.idTypeReleveAlimentation == 1 %}
							<script>
								var year = ( ({{ source.dateReleveAlimentation ? source.dateReleveAlimentation|date('Y') : '' }}).toString() )
								var month = ( ({{ source.dateReleveAlimentation ? source.dateReleveAlimentation|date('m') : '' }}).toString() )
								var day = ( ({{ source.dateReleveAlimentation ? source.dateReleveAlimentation|date('d') : '' }}).toString() )

								{% if (source.dateReleveAlimentation|date('Y')) > ("now" | date('Y'))-3 and source.dateReleveAlimentation|date('d') is divisible by 2 %}
									temperatures.push({{ source.releveAlimentation }})
									dates.push(day.concat('/',month,'/',year))
								{% endif %}
							</script> 
						{% endif %}
					</tr>

				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		
		<div><canvas id="chartTemperature" style="max-width:100%; max-height:500px;"></canvas></div>
		<script>
			const ctx = document.getElementById('chartTemperature').getContext('2d');
			const myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: dates,
					datasets: [{
						label: 'Température',
						data: temperatures,
						backgroundColor: [
							'rgba(255, 0, 0, 0.2)'
						],
						borderColor: [
							'rgba(255, 0, 0, 1)',
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
		</script>
		

		<br><br>
		<a href="{{ path('bassin_index', {'idExpe': idExpe, 'idLot': idLot}) }}" class="btn btn-danger">Retour</a>
	</div>
{% endblock %}
