{% extends 'base.html.twig' %}

{% block title %}Sources
{% endblock %}

{% block body %}
    
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
                <li class="breadcrumb-item">
					<a href="{{ path('bassin_index', {'idExpe': idExpe, 'idLot': idLot}) }}">Bassin</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Source</li>
			</ol>
		</nav>

        <h1>
			Source {{ sources[0].nomAlimEau }}, 
			Type {{ sources[0].libTypeAlim }}:
		</h1>

		<table class="table table-bordered table-hover" id="tableLot">
			<thead>
				<tr>
                    <th>Valeur</th>
                    <th>Info</th>
                    <th>Date</th>
                    <th>Type</th>
				</tr>
			</thead>
			<tbody>
				{% for source in sources %}

					<tr>
                        <td>{{ source.releveAlimentation }}</td>
                        <td>{{ source.infoReleveAlimentation }}</td>
                        <td>{{ source.dateReleveAlimentation ? source.dateReleveAlimentation|date('d-m-Y') : '' }}</td>
                        <td>{{ source.libTypeReleveAlimentation }}</td>
					</tr>

				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br><br>
		<a href="{{ path('bassin_index', {'idExpe': idExpe, 'idLot': idLot}) }}" class="btn btn-danger">Retour</a>
	</div>
{% endblock %}
