{% extends 'base.html.twig' %}

{% block title %}Alimentation
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Alimentation</li>
			</ol>
		</nav>
		{% if alimentations|length > 0 %}
		<h1>Alimentation du Lot
			{{ alimentations[0].nomLot }} de
			{{ alimentations[0].nomEspece }}, souche
			{{ alimentations[0].libSouche }}</h1>
		{% endif %}

		<table class="table table-bordered table-hover" id="tableAlim">
			<thead>
				<tr>
					<th class="notexport">Date</th>
					<th class="hidden">Date</th>
					<th>Semaine</th>
					<th>Jours de jeune par semaine</th>
					<th>Nom Aliment</th>
					<th>Granulométrie Aliment</th>
					<th>Coeff Aliment</th>
					<th>Qtt Ingérée par semaine</th>
					<th>Changement d'aliment</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 0 %}
				{% for alimentation in alimentations %}
					{% if i == 0 %}
						{% set last = alimentation %}
						{% set lastSemaine = semaines[i] %}
						<tr>
							<td>
								<span style="display:none;">{{ alimentation.dateConditionAlim ? alimentation.dateConditionAlim|date('Y-m-d') : '' }}</span>
								{{ alimentation.dateConditionAlim ? alimentation.dateConditionAlim|date('d-m-Y') : '' }}</td>
							<td class="hidden">{{ alimentation.dateConditionAlim ? alimentation.dateConditionAlim|date('d-m-Y') : '' }}</td>
							<td>{{ semainesAffiche[i] }}</td>
							<td>{{ jeunes[semaines[i]] }}</td>
							<td>{{ alimentation.nomAliment }}</td>
							<td>{{ alimentation.granulometrieAliment }}</td>
							<td>{{ alimentation.coeffAlim }}</td>
							<td>
								{% if qtt[semaines[i]] != 0 %}
									{{ qtt[semaines[i]]|round(2) }}g
								{% endif %}
							</td>
							<td>
								{% if alimentation.nomAliment != last.nomAliment or alimentation.coeffAlim != last.coeffAlim %}
									Oui
								{% endif %}
							</td>
						</tr>
					{% else %}
						{% if alimentation.nomAliment != last.nomAliment or alimentation.coeffAlim != last.coeffAlim or lastSemaine != semaines[i] %}
							<tr>
								<td>
									<span style="display:none;">{{ alimentation.dateConditionAlim ? alimentation.dateConditionAlim|date('Y-m-d') : '' }}</span>
									{{ alimentation.dateConditionAlim ? alimentation.dateConditionAlim|date('d-m-Y') : '' }}</td>
								<td class="hidden">{{ alimentation.dateConditionAlim ? alimentation.dateConditionAlim|date('d-m-Y') : '' }}</td>
								<td>{{ semainesAffiche[i] }}</td>
								<td>{{ jeunes[semaines[i]] }}</td>
								<td>{{ alimentation.nomAliment }}</td>
								<td>{{ alimentation.granulometrieAliment }}</td>
								<td>{{ alimentation.coeffAlim }}</td>
								<td>
									{% if qtt[semaines[i]] != 0 %}
										{{ qtt[semaines[i]]|round(2) }}g
									{% endif %}</td>
								<td>
									{% if alimentation.nomAliment != last.nomAliment or alimentation.coeffAlim != last.coeffAlim %}
										Oui
									{% endif %}
								</td>
							</tr>
							{% set last = alimentation %}
							{% set lastSemaine = semaines[i] %}
						{% endif %}
					{% endif %}
					{% set i = i + 1 %}
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>

	<br><br>
	<a href="{{ path('lot_index', {'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>
</div>{% endblock %}
