{% extends 'base.html.twig' %}

{% block title %}Historique
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Historique</li>
			</ol>
		</nav>

		<h1>Historique: Lot
			{{ datas[0].nomLot }},
			{{ datas[0].nomEspece }}, souche
			{{ datas[0].libSouche }}</h1>

		<table class="table table-bordered table-hover" id="tableHisto">
			<thead>
				<tr>
					<th class="notexport">Date</th>
					<th class="hidden">Date</th>
					<th>Effectif Mouvement</th>
					<th>Nouvel Effectif</th>
					<th>Type d'intervention</th>
					<th>Informations</th>
					<th>Bassin</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}

					<tr>
						<td>
							<span style="display:none;">{{ data.dateMouvement ? data.dateMouvement|date('Y-m-d') : '' }}</span>
							{{ data.dateMouvement ? data.dateMouvement|date('d-m-Y') : '' }}</td>
						<td class="hidden">{{ data.dateMouvement ? data.dateMouvement|date('d-m-Y') : '' }}</td>
						<td>{{ data.effectifMouvement }}</td>
						<td>{{ data.nouvelEffectif }}</td>
						<td>{{ data.libMouv }}</td>
						<td>{{ data.infoMouv }}</td>
						<td>{{ data.nomBassin }}</td>
					</tr>

				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br><br>
		<a href="{{ path('lot_index', {'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>

	</div>
{% endblock %}
