{% extends 'base.html.twig' %}

{% block title %}Relevé Animal
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('individu_index', {'idLot': idLot, 'idExpe': idExpe}) }}">Individus</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Relevé Animal</li>
			</ol>
		</nav>

		<h1>Relevé Animal</h1>

		<table class="table table-bordered table-hover" id="tableReleve">
			<thead>
				<tr>
					<th class="notexport">Date</th>
					<th class="hidden">Date</th>
					<th>Valeur</th>
					<th>Libellé</th>
					<th>Info</th>
				</tr>
			</thead>

			{% for releve in releves %}

				<tr>
					<td>
						<span style="display:none;">{{ releve.dateRelAni ? releve.dateRelAni|date('Y-m-d') : ''}}</span>
						{{ releve.dateRelAni ? releve.dateRelAni|date('d-m-Y') : ''}}</td>
					<td class="hidden">{{ releve.dateRelAni ? releve.dateRelAni|date('d-m-Y') : ''}}</td>
					<td>{{ releve.valeurRelAni }}</td>
					<td>{{ releve.libTypeRelAni }}</td>
					<td>{{ releve.infotypeRelAni }}</td>
				</tr>

			{% else %}
				<tr>
					<td colspan="25">Aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('individu_index', {'idLot': idLot, 'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>
</div>{% endblock %}
