{% extends 'base.html.twig' %}

{% block title %}Individu index
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Individu index</h1>

		<table class="table table-bordered table-hover" id="maTable">
			<thead>
				<tr>
					<th>Rfid</th>
					<th>Effectif</th>
					<th>Espece</th>
					<th>Genre</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 0 %}
				{% for individu in individus %}
					<tr {% if individu.issortiedefinitive == 1 %} {% set i = i + 1 %} {% endif %}>
						<td>{{ individu.rfid }}</td>
						<td>{{ individu.nouvelEffectif }}</td>
						<td>{{ individu.nomEspece }}</td>
						<td>{{ individu.libGenre }}</td>
						<td>
							<a class="btn btn-primary" href="{{ path('mouvement_indi_index', {'idIndividu': individu.idIndi, 'idLot': idLot, 'idExpe': idExpe}) }}">Voir les mouvements</a>
							<a class="btn btn-primary" href="{{ path('releve_indi_index', {'idIndividu': individu.idIndi, 'idLot': idLot, 'idExpe': idExpe}) }}">Voir les relevés</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="26">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if individus|length>1 %}
			<div class="checkbox-custom chekbox-primary">
				<input onchange="toggle_by_class({{ i }});" type="checkbox">
				<label>Afficher les individus sortis</label>
			</div>
		{% endif %}

		<br><br>
		<a href="{{ path('lot_index', {'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>
	</div>
{% endblock %}
