{% extends 'base.html.twig' %}

{% block title %}Individus
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Individus</li>
			</ol>
		</nav>

		<h1>Individu</h1>

		<table class="table table-bordered table-hover" id="tableIndiv">
			<thead>
				<tr>
					<th>Identifiant</th>
					<th>Rfid</th>
					<th>Espece</th>
					<th>Genre</th>
					<th>Ploidie</th>
					<th>Stade evolution</th>
					<th>Effectif</th>
					<th class="notexport">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for individu in individus %}
					<tr>
						<td>{{ individu.identifiantIndi }}</td>
						<td>{{ individu.rfid }}</td>
						<td>{{ individu.nomEspece }}</td>
						<td>{{ individu.libGenre }}</td>
						<td>{{ individu.libPloidie }}</td>
						<td>{{ individu.libTypeStadeEvolution }}</td>
						<td>
						{% for key, value in effectifParIndi %}
							{% if key == individu.idIndi %}
    							{{ value }}
							{% endif %}
						{% endfor %}
						</td>
						<td>
							<a class="btn btn-primary" href="{{ path('releve_indi_index', {'idIndi': individu.idIndi, 'idLot': idLot, 'idExpe': idExpe}) }}">Voir les relevés</a>
						</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="26">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


		<br><br>
		<a href="{{ path('lot_index', {'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>
	</div>
{% endblock %}
