{% extends 'base.html.twig' %}

{% block title %}Sanitaire
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('individu_index', {'idLot': idLot, 'idExpe': idExpe}) }}">Individus</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Sanitaire</li>
			</ol>
		</nav>

		<h1>Sanitaire</h1>

		<table class="table table-bordered table-hover" id="tableSan">
			<thead>
				<tr>
					<th>Nom Produit</th>
					<th>Quantite Administree</th>
                    <th>Substances Actives</th>
					<th>Voie Administration</th>
                    <th class="notexport">Date</th>
                    <th class="hidden">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for sanitaire in sanitaires %}
					<tr>
						<td>{{ sanitaire.traitementNomProduit }}</td>
						<td>{{ sanitaire.traitementQuantiteAdministree }}</td>
						<td>{{ sanitaire.produitSubstancesActives }}</td>
                        <td>{{ sanitaire.traitementVoieAdministration }}</td>
                        <td><span style="display:none;">{{ sanitaire.traitementDate ? sanitaire.traitementDate|date('Y-m-d') : ''}}</span>
							{{ sanitaire.traitementDate ? sanitaire.traitementDate|date('d-m-Y') : '' }}</td>
                        <td class="hidden">{{ sanitaire.traitementDate ? sanitaire.traitementDate|date('d-m-Y') : ''}}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        <a href="{{ path('individu_index', {'idLot': idLot, 'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>
    </div>
{% endblock %}