{% extends 'base.html.twig' %}

{% block title %}Sanitaire
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('experimentation_index') }}">Experimentations</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('lot_index', {'idExpe': idExpe}) }}">Lots</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('individu_index', {'idLot': idLot, 'idExpe': idExpe}) }}">Individus</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Sanitaire</li>
			</ol>
		</nav>

		<h1>Sanitaire</h1>

		<table class="table table-bordered table-hover" id="tableSan">
			<thead>
				<tr>
                    <th>Évènement</th>
					<th>Produit</th>
					<th>Quantité Administrée</th>
					<th>Voie Administration</th>
                    <th class="notexport">Début</th>
                    <th class="hidden">Début</th>
                    <th class="notexport">Fin</th>
                    <th class="hidden">Fin</th>
				</tr>
			</thead>
			<tbody>
				{% for sanitaire in sanitaires %}
					<tr>
                        <td>{{ sanitaire.libelleEvenementRef }}</td>
						<td>{{ sanitaire.nomProduit }}</td>
						<td>{{ sanitaire.quantiteAdministreeSomme|round(2) }} ml</td>
                        <td>{{ sanitaire.voieAdministration }}</td>
                        <td><span style="display:none;">{{ sanitaire.dateDebut ? sanitaire.dateDebut|date('Y-m-d') : ''}}</span>
							{{ sanitaire.dateDebut ? sanitaire.dateDebut|date('d-m-Y') : '' }}</td>
                        <td class="hidden">{{ sanitaire.dateDebut ? sanitaire.dateDebut|date('d-m-Y') : ''}}</td>
                        <td><span style="display:none;">{{ sanitaire.dateFin ? sanitaire.dateFin|date('Y-m-d') : ''}}</span>
							{{ sanitaire.dateFin ? sanitaire.dateFin|date('d-m-Y') : '' }}</td>
                        <td class="hidden">{{ sanitaire.dateFin ? sanitaire.dateFin|date('d-m-Y') : ''}}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="25">Aucun résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        <a href="{{ path('individu_index', {'idLot': idLot, 'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>
    </div>
{% endblock %}